@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Archivo+Black&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Headings */
.font-heading {
  font-family: 'Archivo Black', sans-serif;
}

/* Body text */
.font-body {
  font-family: 'Antic Didone', serif;
}


body {
  background: var(--background);
  color: var(--foreground);
}
